.app{
    display: flex;
    background-color: white;
}

.app a{
    font-size: 18px;
    font-weight: 350;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    border-color: coral;
    border-style: solid;
    margin: 5px;
    margin-left: 50px;
    margin-right: 50px;
    width:auto;
    text-decoration: none;
    color: black;
    float: right;
}

.action{
    display: flex;
    flex-direction: column;
}

.action a{
    font-size: small;
}

.app-content{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 30px;
}

.app table{
    border-style:solid;
    border-collapse: collapse;
}

.app table th{
    background-color:paleturquoise;
    font-weight: 400;
}

.app table td{
    padding: 4px;
    text-align: center;
}

.viewButton{
    width: 60px !important;
    margin-top: 10px !important;
    background-color: coral;
}

.accepttag{
    width: 50px !important;
    background-color: rgb(91, 183, 91) !important;
    border: .5px solid grey !important;
    margin: 10px;
}

.rejectR{
    width: 50px !important;
    background-color: rgb(195, 50, 50) !important;
    border: .5px solid grey !important;
}

.tableDiv{
    display: flex;
    padding: 10px;
    border: none;
}